.aboutME{
	top:141px;
	left: 354px;
	width: 400px;
	
}
.desc1 {
	left: 180px;
	top: 342px;
	width: 400px;
}
.desc2 {
	left: 389px;
	top: 388px;
	width: 400px;
}
.desc3 {
	left: 575px;
	top: 360px;
	width: 400px;
}
.desc4 {
	left: 550px;
	top: 152px;
	width:400px;
}
.desc5 {
	left: 640px;
	top: 66px;
	width: 400px;
}
.desc6 {
	left: 359px;
	top: 0px;
	width: 400px;
}
.desc7 {
	left: 246px;
	top: 81px;
	width: 400px;
}
.desc8 {
	left: -115px;
	top: 281px;
	width: 250px;
}
.desc9 {
	left: -115px;
	top: 550px;
	width: 250px;
}
.desc10 {
	left: 66px;
	top: 571px;
	width: 100px;
}